{% extends "base.html" %}

{% block content %}

<section><h2>Авторизаци</h2></section>
{% if user.is_authenticated %}
<section><p>Вы уже авторизированы</p></section>
{% else %}
<div class="aut-form-cont">
    <form method="post" class="aut-form">
        {% csrf_token %}
        <div class="errorlist">{{ form.non_field_errors }}</div>
        {% for field in form %}
        <p><label>{{ field.label }}</label></p>
        <p>{{ field }}</p>
        <div class="errorlist">{{ field.errors }}</div>
        {% endfor %}
        <button type="submit">Авторизироваться</button>
    </form>
</div>
{% endif %}


{% endblock %}