{% extends 'base.html' %}
{%block content%}
        <section class="intro">
            <h1>Добро пожаловать на Ваш Сайт</h1>
            <p>Найдите подходящего исполнителя для вашего проекта.</p>
        </section>

        <section class="services">
            <!-- Блоки услуг или категорий -->
        </section>

        <section class="freelancers">
            <!-- Список исполнителей -->
        </section>

        <section class="how-it-works">
            <h2>Как это работает</h2>
            <!-- Инструкция для пользователей -->
        </section>
{% endblock %}