<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ваш Сайт</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
<header>
    <div class="upper-header">
        <div class="logo">
            {% if user.is_authenticated %}
            <a class="logo-profile" href="/">Привет, {{user.username}} !</a>
            <form method="post" action="{%url 'users:logout'%}">
                {% csrf_token %}
                <button type="submit" class="link-logout">выйти</button>
            </form>
            {% else %}
            <a class="logo-profile" href="/">Привет, Гость ! </a>
            {% endif %}
        </div>
        <div class="user-links">
            {% if not user.is_authenticated %}
            <a href="{%url 'users:login'%}">Войти</a>
            <a href="{%url 'users:register'%}" class="register">Регистрация</a>
            {% endif %}
        </div>
    </div>
    <nav>
        <ul class="nav-links">
            <li><a href="/">Главная</a></li>
            <li><a href="#">Категории</a></li>
            <li><a href="{% url 'performer:performer' %}">Исполнители</a></li>
            <li><a href="#">Заказы</a></li>
            {% if user.is_staff %}
            <li><a href="{%url 'admin:index'%}">Админка</a></li>
            {% endif %}
        </ul>
    </nav>
</header>

<main>
    {% block content %}
    {% endblock %}
</main>

<footer>
    <div class="footer-content">
        <ul class="footer-links">
            <li><a href="#">О нас</a></li>
            <li><a href="#">Поддержка</a></li>
            <li><a href="#">Контакты</a></li>
        </ul>
    </div>
</footer>

<!--    <script src="scripts.js"></script>-->
</body>
</html>